/target/
/Cargo.lock
/node_modules/
/playground/dist/

# compiler artifacts
/js/compiler
/js/no-compiler
/js/imports.ts
/js/opcodes.js

# produced by rustdoc
/playground/public/docs/internal

/.vite/
/.vscode/

rustc-ice*