@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

div, p {
  margin: 1rem auto;
}

a,
.green {
  text-decoration: none;
  color: hsl(39.3,100%,37%);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(33.1,100%,41%,0.2);
  }
}
